docs/private/n8n/MIGRATION_EXPORT_ALL_BROKI_TO_SUPABASE_RAW_NO_SECRET_SAFE_V2.json
{
  "name": "MIGRATION_EXPORT_ALL_BROKI_TO_SUPABASE_RAW_NO_SECRET_SAFE_V2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        400
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE OR REPLACE FUNCTION pg_temp.broki_export_legacy_raw()\nRETURNS TABLE (\n  source_schema text,\n  source_table text,\n  total_rows bigint,\n  batch_offset integer,\n  items jsonb\n)\nLANGUAGE plpgsql\nAS $$\nDECLARE\n  tbl text;\n  tbl_list text[] := ARRAY[\n    'personal',\n    'inventario',\n    'incidencias',\n    'grupo_trabajo',\n    'tareas',\n    'aviones',\n    'tooling',\n    'tool_control',\n    'furgonetas',\n    'gse',\n    'registro_comunicaciones',\n    'n8n_chat_histories',\n    'no_existe_telefono'\n  ];\n  reg oid;\n  cnt bigint;\n  off integer;\n  bs integer := 1000;\nBEGIN\n  FOREACH tbl IN ARRAY tbl_list LOOP\n    reg := to_regclass(format('pro.%I', tbl));\n    IF reg IS NULL THEN\n      RAISE NOTICE 'broki export: skipping missing table pro.%', tbl;\n      CONTINUE;\n    END IF;\n\n    EXECUTE format('SELECT count(*)::bigint FROM %I.%I', 'pro', tbl) INTO cnt;\n\n    off := 0;\n    WHILE off < cnt LOOP\n      source_schema := 'pro';\n      source_table := tbl;\n      total_rows := cnt;\n      batch_offset := off;\n\n      EXECUTE format(\n        $q$\n        SELECT coalesce(jsonb_agg(row_data), '[]'::jsonb)\n        FROM (\n          SELECT to_jsonb(t) AS row_data\n          FROM %I.%I t\n          ORDER BY COALESCE(\n            to_jsonb(t)->>'id',\n            to_jsonb(t)->>'identificador',\n            to_jsonb(t)->>'brk',\n            to_jsonb(t)->>'codigo',\n            to_jsonb(t)->>'id_incidencia',\n            to_jsonb(t)->>'external_id',\n            md5(to_jsonb(t)::text)\n          )\n          LIMIT %s OFFSET %s\n        ) sub\n        $q$,\n        'pro', tbl, bs, off\n      ) INTO items;\n\n      IF items IS NOT NULL AND jsonb_array_length(items) > 0 THEN\n        RETURN NEXT;\n      END IF;\n\n      off := off + bs;\n    END LOOP;\n  END LOOP;\nEND;\n$$;\n\nSELECT * FROM pg_temp.broki_export_legacy_raw();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -960,
        280
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Export Postgres legacy rows",
      "credentials": {
        "postgres": {
          "id": "Xm1WvADEEsESPDdW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const BATCH_MAX = 1000;\nconst out = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  let items = row.items;\n  if (typeof items === 'string') {\n    try { items = JSON.parse(items); } catch { items = []; }\n  }\n  if (!Array.isArray(items) || items.length === 0) continue;\n\n  out.push({\n    json: {\n      source_system: 'n8n_postgres_pro',\n      source_schema: row.source_schema ?? 'pro',\n      source_table: row.source_table,\n      items,\n    },\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        280
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Build postgres import body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/broki-import-batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        280
      ],
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "POST broki-import-batch (postgres)",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "MRgJDLvqhpb65RI0",
          "mode": "list",
          "cachedResultName": "nitro_stock",
          "cachedResultUrl": "/projects/83XmN0Yv2hyjZVUA/datatables/MRgJDLvqhpb65RI0"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -960,
        520
      ],
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Get nitro_stock rows"
    },
    {
      "parameters": {
        "jsCode": "const BATCH_MAX = 1000;\nconst rows = $input.all().map((item) => item.json);\nconst out = [];\n\nfor (let i = 0; i < rows.length; i += BATCH_MAX) {\n  const batch = rows.slice(i, i + BATCH_MAX);\n  if (batch.length === 0) continue;\n  out.push({\n    json: {\n      source_system: 'n8n_datatable',\n      source_schema: 'n8n',\n      source_table: 'nitro_stock',\n      items: batch,\n    },\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        520
      ],
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Chunk nitro_stock batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/broki-import-batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        520
      ],
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "POST broki-import-batch (nitro_stock)",
      "retryOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Export Postgres legacy rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get nitro_stock rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Postgres legacy rows": {
      "main": [
        [
          {
            "node": "Build postgres import body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build postgres import body": {
      "main": [
        [
          {
            "node": "POST broki-import-batch (postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get nitro_stock rows": {
      "main": [
        [
          {
            "node": "Chunk nitro_stock batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk nitro_stock batches": {
      "main": [
        [
          {
            "node": "POST broki-import-batch (nitro_stock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "migration"
    },
    {
      "name": "broki"
    }
  ]
}
